<div id="assignments">
  <%= hidden_field_tag "camp_id", @camp.id %>
  <div class="card black">
    <div class="card-content white-text">
      <span class="card-title">Camp Instructors</span>
      <% if @camp.instructors.empty? %>
      <p>No instructors at this time</p>
      <% else %>
        <ul is='instructor-row' 
            v-for="instructor in instructors" 
            v-bind:instructor="instructor"
            class="no_bullet">  
        </ul>
      <% end %>

      <% if can? :create, CampInstructor %>
        <div class="card-action">
          <% if Instructor.time(@camp.id, @camp.start_date, @camp.time_slot).empty? %>
            Can not add instructor at this time
          <% else %>
          <div v-if="modal_open">
            <%= link_to "Cancel", "#", {%s(v-on:click) => "switch_modal()"} %>
          </div>
          <div v-else>
            <%= link_to "Add a new instructor", "#", {%s(v-on:click) => "switch_modal()"} %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div v-if="modal_open">
    <new-instructor-form></new-instructor-form>
  </div>

</div>  <!-- End of div#assignments -->


<script type="text/x-template" id="camp-instructor-form-template">
  <%= render "camp_instructor_form_template" %>
</script>
