<div id="assignments">
  <%= hidden_field_tag "camp_id", @camp.id %>
  <div class="card indigo lighten-2">
    <div class="card-content white-text">
      <span class="card-title">Camp Instructors</span>
      <% if @camp.instructors.empty? %>
      <p>No instructors at this time</p>
      <% else %>
        <ul is='instructor-row' 
            v-for="instructor in instructors" 
            v-bind:instructor="instructor"
            class="no_bullet">  
        </ul>
      <% end %>
      <div class="card-action">
      <%# link_to "Add a new instructor", "#" %>
      <%= link_to "Add a new instructor", "#", {%s(v-on:click) => "switch_modal()"} %>
      </div>
    </div>
  </div>

  <div v-if="modal_open">
    <new-instructor-form></new-instructor-form>
  </div>


</div>  <!-- End of div#assignments -->




<!--  much easier to include this complicated template here 
      rather than in the js file (IMO) -->
<script type="text/x-template" id="camp-instructor-form-template">
  <%= render "camp_instructor_form_template" %>
</script>