<div class="card black">
  <div class="card-content white-text">
    <span class="card-title">Camp Instructors</span>
    <% if @instructors.empty? %>
    <p>No instructors at this time</p>
    <% else %>
      <ul>
        <% @instructors.each do |i| %>
          <li>
            <% if current_user.role? :instructor %> 
              <%= link_to i.proper_name, instructor_path(i) %>
            <% elsif current_user.role? :parent %> 
              <%= i.proper_name %> 
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>


