<%= render partial: "camps/active_camps" %>
<!-- sometimes we want another partial below -->
<% unless @inactive_camps.nil? %>
  <p>&nbsp;</p>
  <%= render partial: "camps/inactive_camps" %>
<% end %>



