<div class="row black valign-wrapper" id="topbar">
	<div class="col s1 logo">
		<%= link_to(image_tag('logo.png'), home_path) %>
	</div>
	<div class="col s7 head">
		<%= link_to home_path do %>
            <h1>AM Chess Camps</h1>
          <% end %> 
  	</div>
  	<div class="col s3">
  	</div>
</div>

