<h2>Welcome to the Chess Warehouse</h2>
<br />
<div class="row">
	<div class="small-7 columns">
		<p>
			Here are some of the great chess equipment we have today...
		</p>
	</div>
	<div class="small-1 columns">
		&nbsp;
	</div>
	<div class="small-4 columns">
		&nbsp;
	</div>
</div>


