<div class="row">    
  <div class="col s12">
    <br/>
    <div class="card">
      <div class="card-content">
        <%= image_tag 'AlexPlaying1.jpg', class: 'img_left' %>
        <span class="card-title">About Chess Camp</span> <br/>
        <p>Chess "camp" is much like other types of camps that are offered (rowing camp, art camp, basketball camp and the like). Students come in for a three-hour period – either a morning session (9:00am to 12:00pm) or an afternoon session (1:00pm to 4:00pm) – every day during the course of one week. During that time, they receive instruction in a particular aspect of chess and get an opportunity to play games against fellow campers. Performance on class exercises and in games gives students points that lead to trophies and ribbons at the end of the week. <br/><br/>
        Each camp has a curriculum that is the focus of the week,
        such as basic tactics, endgames, and openings. The curriculum name is the
        "name" of the particular camp. Drawing from their father's collection of
        curriculums alone, Alex and Mark could offer over 20 different camp options, and
        as masters they could undoubtedly come up with additional camp ideas down the
        line. The fact is, however, that there is always high demand for camp slots in
        beginner-oriented camps like "Principles of Chess" and "Mastering Chess Tactics"
        while more advanced camps like "Nimzo-Indian Defense" barely fill and in some
        cases may have one or two open slots. Consequently, to maximize revenue and
        still serve a diverse clientele some beginner camps will be offered several times
        during the summer to accommodate demand, while others may be only offered
        once a summer or even every other summer.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

