<div class="row">
    <div class="col s12 center">
    <h2 id="headline">Welcome to A&amp;M Chess Camp<!-- Learn chess the right way. --></h2>
    <p>The A&amp;M Chess Camp (named after the founds, Alex and Mark Heimann) is one of the <b>premiere chess camps</b> for youth this side of the Mississippi. Our instructors have years of experience playing and love to share their <b>wisdom</b> and <b>enthusiasm</b> for the game with students of all levels.</p>
    <p>Prospective students and parents should feel free to browse through our catalogue of <%= link_to "upcoming camps", camps_path %>. Unfortunately, we have not yet finished our online registration portal. So, should a camp pique your interest, please contact us <%= link_to "here", contact_path %> and we will begin assiting you with your registration as soon as possible. Thank you!</p>
  </div>
</div>
