<%= render partial: "locations/active_locations" %>
<!-- sometimes we want another partial below -->
<% unless @inactive_locations.nil? %>
  <p>&nbsp;</p>
  <%= render partial: "locations/inactive_locations" %>
<% end %>



